.sign-up {
    align-items: center;
    display: flex;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .sign-up-button {
    width: 116px;
    height: 36px;
    font-size: 1.6rem;
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 18px;
    border: none;
    cursor: pointer;
    color: #dd7430;
    background-color: var(--white);
  }