/*General*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --white: #f8f8f8;
    --orangeTB: #DD7430;
    --yellowBall: #E5FF28;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;   
  }
  
  
  
  body {
    height: 25vh;
    background-image: url(./assets/img/backgroundImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  main {
    height: 81vh;
  }